.parallax, .parallax2 {
  /* The image used */
  background-image: url("/assets/freelancer.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2{
  background-image: url("/assets/freelancer1.png");
}
.parallax3{
  background-image: url("/assets/footer1.jpeg");
}
.body_design{
  background-color: #FF8800;
  color: white;
}
.nav_bar_style{
  color: white;
}
.brand_name{
  color: white;
  font-size: 38px;
  font-family: initial;
}
.link_style{
  color:white;
  font-size: 20px;
  font-family: initial;
}
.icon_color{
  background-color: white;
}