<div class="parallax-container">
  <div class="parallax"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRffvwSt1LaRL--VNy_uSuCqS986pgdqGeqroHJVzmy-bzehLhq"></div>
</div>
<footer class="page-footer blue lighten-2 z-depth-5">
  <div class="container">
		<div class="row">
			<div class="col s3 ">
        <!-- Promo Content 1 goes here -->
				<img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="130" src="http://www.cs.utsa.edu/~wagner/CS3723/ruby2/logo/ruby06.jpg">
      </div>
      <div class="col s3 ">
      	<img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="103" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Ruby_on_Rails_logo.svg/2000px-Ruby_on_Rails_logo.svg.png">
        <!-- Promo Content 2 goes here -->
      </div>
      <div class="col s3 ">
      	<img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="130" src="https://lh3.googleusercontent.com/zwwddqxgFlP14DlucvBV52RUMA-cV3vRvmjf-iWqxuVhYVmB-l8XN9NDirb0687DSw=w300">
        <!-- Promo Content 3 goes here -->
      </div>
      <div class="col s3 ">
      	<img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="130" src="https://s3.amazonaws.com/awsmp-logos/cloudinary.png">
    	</div>
		</div>
		<div class="row">
			<div class="col s3 ">
      	<img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="130" src="http://www.slstutorials.com/images/untouched/Bootstrap.png">
      </div>
      <div class="col s3 ">
      	<img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="130" src="https://octobercms.com/storage/app/uploads/public/55d/a38/502/55da385022302664040110.png">
      </div>
      <div class="col s3 ">
      	<img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="130" src="http://www.websnube.com/wp-content/uploads/2016/07/jquery-icon.png">
      </div>
      <div class="col s3 ">
      	<img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="130" src="https://www.bigchangeapps.com/wp-content/uploads/2015/08/api.jpg">
      </div>
    </div>
  </div>
  <div class="footer-copyright">
		<div class="container">
			© 2014 Copyright Text
		</div>
  </div>
</footer>
<script type="text/javascript">
  $(document).ready(function(){
      $('.slider').slider();
    });
       
</script>

