<nav class="navbar nav_bar_style">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar icon_color"></span>
        <span class="icon-bar icon_color"></span>
        <span class="icon-bar icon_color"></span>                        
      </button>
      <a class="navbar-brand brand_name" href="#">BuddyTech</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="<%= dashboard_index_path %>" class="link_style">Home</a></li>
        <li><a href="<%= contact_dashboard_index_path %>" class="link_style">About</a></li>
        <li><a href="<%= contact_dashboard_index_path%>" class="link_style">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="parallax"></div>


<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect 
    where the background content or image in this case, <br>
    is moved at a different speed than the foreground content while scrolling.
    dsfdsfsdf fsdsdfffffff sdffffffffffffffffffffsdf sdfsdfsd8888
    Parallax is an effect 
    where the background content or image in this case, <br>
    is moved at a different speed than the foreground content while scrolling.
    dsfdsfsdf fsdsdfffffff sdffffffffffffffffffffsdf sdfsdfsd8888
    Parallax is an effect 
    where the background content or image in this case, <br>
    is moved at a different speed than the foreground content while scrolling.
    dsfdsfsdf fsdsdfffffff sdffffffffffffffffffffsdf sdfsdfsd8888
    Parallax is an effect 
    where the background content or image in this case, <br>
    is moved at a different speed than the foreground content while scrolling.
    dsfdsfsdf fsdsdfffffff sdffffffffffffffffffffsdf sdfsdfsd8888
    Parallax is an effect 
    where the background content or image in this case, <br>
    is moved at a different speed than the foreground content while scrolling.
    dsfdsfsdf fsdsdfffffff sdffffffffffffffffffffsdf sdfsdfsd8888
    </p>
  </div>
</div>
<div class="parallax2">
</div>
<script>
    
  $(document).ready(function(){
    $('.parallax').parallax();
    $(".button-collapse").sideNav();
  });
</script>
<style>
 .parallax-container {
    height: 200px;
  }
  .logo_design{
    height: 80px!important;
    width: 220px!important;
    border-radius: 35%!important;
  }
</style>
