<nav>
  <div class="nav-wrapper  blue lighten-2 z-depth-5">
    <a href="#" class="brand-logo">BuddyTech</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
          <%= link_to "Home", dashboard_index_url %>
      </li>
      <li> <%= link_to "About", contact_dashboard_index_path %></li>
      <li> <%= link_to "Contact", contact_dashboard_index_path %></li>
    </ul>
  </div>
</nav>

<div class="parallax-container">
  <div class="parallax"><img src="http://bonefidewealth.com/wp-content/uploads/2016/11/freelancer.png"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect 
    where the background content or image in this case, <br>
    is moved at a different speed than the foreground content while scrolling.
    dsfdsfsdf fsdsdfffffff sdffffffffffffffffffffsdf sdfsdfsd8888
    Parallax is an effect 
    where the background content or image in this case, <br>
    is moved at a different speed than the foreground content while scrolling.
    dsfdsfsdf fsdsdfffffff sdffffffffffffffffffffsdf sdfsdfsd8888
    Parallax is an effect 
    where the background content or image in this case, <br>
    is moved at a different speed than the foreground content while scrolling.
    dsfdsfsdf fsdsdfffffff sdffffffffffffffffffffsdf sdfsdfsd8888
    Parallax is an effect 
    where the background content or image in this case, <br>
    is moved at a different speed than the foreground content while scrolling.
    dsfdsfsdf fsdsdfffffff sdffffffffffffffffffffsdf sdfsdfsd8888
    Parallax is an effect 
    where the background content or image in this case, <br>
    is moved at a different speed than the foreground content while scrolling.
    dsfdsfsdf fsdsdfffffff sdffffffffffffffffffffsdf sdfsdfsd8888
    </p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="https://18482-presscdn-0-9-pagely.netdna-ssl.com/wp-content/uploads/2015/08/freelance-tips-thumb.png"></div>
</div>
<script>
    
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>
<style>
 .parallax-container {
    height: 200px;
  }
</style>
